

.woo-interest-in-products-subtitle {
	margin-bottom: 10px;
}

.woo-interest-in-products-list-wrap {

	list-style-type: none;
	margin: 0 0 20px 10px;
	padding: 0;

	li {

		.woo-interest-in-products-checkbox-label {
			display: inline-block;
		}


		.woo-interest-in-products-signup-date {
			margin-left: 15px;
			font-size: 85%;
			font-style: italic;
		}
	}
}


.woo-interest-in-products-change-submit {
	margin-bottom: 0;
}

@media only screen and (max-width: 782px) {}


@media only screen and (max-width: 600px) {}

