
.lw-woo-gdpr-user-optins-add-new-table-wrap {

	.lw-woo-gdpr-user-optins-field-new-success {
		margin: 0 0 0 10px;
		width: 24px;
		height: 24px;
		font-size: 24px;
		line-height: 1;

		.dashicons {
			width: 24px;
			height: 24px;
			font-size: 24px;
			color: #4f8a10;
		}
	}

	.lw-woo-gdpr-user-optins-field-hidden {
		display: none;
		visibility: hidden;
	}

}


@media only screen and (max-width: 782px) {}


@media only screen and (max-width: 600px) {}

